<!-- 通用CSS（对位经典版 include.html 的 header(title) 片段；页面在 include 本片段前用 assign 标签给 pageTitle 赋标题，如 assign name="pageTitle" value="用户列表"） -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<meta name="description" content="">
<meta content="" name="csrf-token"/>
<title>{:isset($pageTitle) ? $pageTitle : 'RuoYi-TP'}</title>
<link href="/css/bootstrap.min.css?v=3.4.1" rel="stylesheet"/>
<link href="/css/font-awesome.min.css?v=4.7.0" rel="stylesheet"/>
<!-- bootstrap-table 表格插件样式 -->
<link href="/ajax/libs/bootstrap-table/bootstrap-table.min.css?v=1.24.1" rel="stylesheet"/>
<link href="/css/animate.min.css?v=20210831" rel="stylesheet"/>
<link href="/css/style.min.css?v=20250731" rel="stylesheet"/>
<link href="/ruoyi/css/ry-ui.css?v=4.8.3" rel="stylesheet"/>
