fastapi==0.115.6
uvicorn[standard]==0.32.1
SQLAlchemy[asyncio]==2.0.36
asyncmy==0.2.9
redis==5.2.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic==2.10.4
pydantic-settings==2.7.0
python-dotenv==1.0.1
Pillow==11.0.0
loguru==0.7.3
user-agents==2.2.0
python-multipart==0.0.20
pytest==8.3.4
openpyxl==3.1.5
psutil==6.1.1
APScheduler==3.10.4
Jinja2==3.1.5
fakeredis==2.26.2
